$PRIMARY: #009999;
$SECONDARY: #424242;
$WARNING: #e74c3c;
$INFO: #6f6f6f;
$TITLE_WHITE: #ffffff;
$TITLE_BLACK: #000000;
$EMPTY: #e7e7e7;
$RED_LINE: #ff0000;

$APP01: #009999;
$APP01_BG: #6fa1a1;
$APP02: #BE79A6;